@charset "utf-8";
/* CSS Document */
*{ margin:0; border:0}
html{ overflow:hidden}  
#top{ width:100%; height:540px;}
#top_t{ width:100%;height:120px;border:1px solid #9C0}
#top_b{ width:100%;height:480px;border:1px solid #9C0; margin-top:20px}
#bottom{width:100%; height:620px;border:1px solid #9C0;}
  
 
