@charset "utf-8"; 
.icon_tree {background-image: url(../images/icon/housertree.png) !important;}/*文章图标*/
.icon_area {background-image: url(../images/icon/treeroot.png) !important;}/*版块图标*/ 
.icon_zhiding {background-image: url(../images/icon/zhiding.png) !important;}/*置顶图标*/
.icon_jinghua {background-image: url(../images/icon/jinghua.png) !important;}/*精华图标*/ 
.icon_zdjh {background-image: url(../images/icon/zhidingjinghua.png) !important;  width: 32px !important;}/*置顶精华图标*/ 
 